@model IEnumerable<CyGateWMS.ViewModels.UserViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DashBoard_Layout.cshtml";
}

<hr />

<div class="header">
    <ol class="breadcrumb">
        <li><a asp-action="Index" class="active" asp-controller="ApplicationUser">Users</a></li>
    </ol>

</div>

<div id="page-inner">

    <div class="row">
        <div class="col-md-12">
            <!-- Advanced Tables -->
            <div class="panel panel-default">
                @if (User.IsInRole(Constants.ADMIN))
                {
                    <div class="panel-heading">
                        <a class="btn btn-info" asp-action="Create" asp-controller="ApplicationUser">Add New</a>
                    </div>
                }
                <div class="panel-body">
                    <div class="table-responsive">
                        <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline" role="grid">
                            <table class="table table-striped table-bordered" id="dataTable" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th> Name</th>

                                        <th> @Html.DisplayNameFor(model => model.Email)</th>
                                        <th> Employee Id</th>
                                        <th> @Html.DisplayNameFor(model => model.PhoneNumber)</th>
                                        <th> @Html.DisplayNameFor(model => model.Role)</th>
                                        <th> Category</th>
                                        @if (User.IsInRole(Constants.ADMIN))
                                        {
                                            <th></th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <td width="20%"> @Html.DisplayFor(modelItem => item.UserName)</td>
                                        <td width="20%"> @Html.DisplayFor(modelItem => item.Email)</td>
                                        <td> @Html.DisplayFor(modelItem => item.EmployeeId)</td>
                                        <td> @Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                                        <td> @Html.DisplayFor(modelItem => item.Role)</td>
                                        <td> @Html.DisplayFor(modelItem => item.CategoryName)</td>
                                        @if (User.IsInRole(Constants.ADMIN))
                                        {
                                        <td>
                                            <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.UserId">Edit</a> |
                                            <a class="btn btn-info" asp-action="Details" asp-route-id="@item.UserId">Details</a>
                                            @if (!item.EmailConfirmed)
                                            {
                                                <a class="btn btn-info" asp-action="EmailConfirm" asp-route-id="@item.UserId">Confirm</a>
                                            }
                                        </td>
                                        }
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
            <!--End Advanced Tables -->
        </div>
    </div>
</div>