@model CyGateWMS.Models.Report

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_DashBoard_Layout.cshtml";
}

<div class="header">
    <ol class="breadcrumb">
        <li><a asp-action="Index" asp-controller="Reports">Report</a></li>
        <li class="active">@Model.TicketNo</li>
    </ol>

</div>

<div id="page-inner">
    <div class="row">
        <div class="col-md-12">
            <!-- Advanced Tables -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    @Model.TicketNo
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline" role="grid">

                            <table class="table table-striped table-bordered table-hover dataTable no-footer" id="dataTables-example" aria-describedby="dataTables-example_info">


                                <tbody>
                                    <tr class="gradeA odd">
                                        <td class="sorting_1"> @Html.DisplayNameFor(model => model.TicketNo)</td>
                                        <td class="center ">@Html.DisplayFor(model => model.TicketNo)</td>
                                    </tr>
                                    <tr class="gradeA even">
                                        <td class="sorting_1"> @Html.DisplayNameFor(model => model.Description)</td>
                                        <td class="center ">@Html.DisplayFor(model => model.Description)</td>
                                    </tr>
                                    <tr class="gradeA odd">
                                        <td class="sorting_1"> Category</td>
                                        <td class="center ">@Html.DisplayFor(model => model.Category.CategoryName)</td>
                                    </tr>
                                    <tr class="gradeA even">
                                        <td class="sorting_1"> Shift Name</td>
                                        <td class="center ">@Html.DisplayFor(model => model.Shift.ShiftName)</td>
                                    </tr>
                                    <tr class="gradeA odd">
                                        <td class="sorting_1"> Type Name</td>
                                        <td class="center ">@Html.DisplayFor(model => model.Type.TypeName)</td>
                                    </tr>
                                    <tr class="gradeA even">
                                        <td class="sorting_1"> OnCallEscalate</td>
                                        <td class="center ">@Html.DisplayFor(model => model.onCallEscalate.OnCallEscalateName)</td>
                                    </tr>
                                    <tr class="gradeA odd">
                                        <td class="sorting_1"> Arrival Time</td>
                                        <td class="center ">@Model.ArrivalTime?.ToString("yyyy-MM-dd HH:mm:ss")</td>
                                    </tr>
                                    <tr class="gradeA even">
                                        <td class="sorting_1"> Start Time</td>
                                        <td class="center ">@Model.StartTime?.ToString("yyyy-MM-dd HH:mm:ss")</td>
                                    </tr>
                                    <tr class="gradeA odd">
                                        <td class="sorting_1"> End Time</td>
                                        <td class="center ">@Model.EndTime?.ToString("yyyy-MM-dd HH:mm:ss")</td>
                                    </tr>
                                    <tr class="gradeA even">
                                        <td class="sorting_1"> Time Spent</td>
                                        <td class="center ">@Html.DisplayFor(model => model.TimeSpent)</td>
                                    </tr>
                                </tbody>
                            </table><div class="row">
                            </div>
                        </div>
                        <div>
                            <form asp-action="Delete">
                                <input type="hidden" asp-for="ReportID" />
                                <input type="submit" value="Delete" class="btn btn-default" /> |
                                <a asp-action="Index">Back to List</a>
                            </form>
                        </div>
                    </div>
                </div>
                <!--End Advanced Tables -->
            </div>
        </div>
    </div>
</div>
